{#

Static RPKI based Origin Validatoin for BIRD

function reject_rpki_invalid() - no explicit arguments
    to be applied on each and every EBGP session

#}

roa table ROAS {
{% for roa in roa_list|sort(attribute='origin') -%}
{{ "    " }}roa {{ roa['prefix'] }} max {{ roa['maxlen'] }} as {{ roa['origin'] }};
{% endfor -%}
}

function reject_rpki_invalid()
{
  if (roa_check(ROAS, net, bgp_path.last = ROA_INVALID) then {
    reject;
  }
}
