function is_roa_covered_prefix()
prefix set roas;
{
     roas = [
        {% for prefix in data -%}
{{ prefix }}+
{%- if not loop.last -%},{%- endif -%}
{%- if loop.index % 4 == 0 -%}
{{ "\n        " }}
{%- else -%}
{{ " " }}
{%- endif -%}
{%- endfor %}
    ];

    if net ~ roas then {
        return true;
    }
    else return false;
}

function complies_with_roa()
{
{%- for prefix in data %}
     if net = {{ prefix }} then {
{%- for origin in data[prefix]["origins"] %}
         if bgp_path.last = {{ origin }} then return true;
{%- endfor %}
     }
{%- endfor %}
     return false;
}

