{#
1) drop a matching prefixes as invalid
2) accept valid
#}
{% for prefix in pfx_list %}
deny from any prefix {{ prefix }} or-longer
{% for origin in pfx_dict[prefix]["origins"]|sort(reverse=True) if not origin == 0 -%}
{% if pfx_dict[prefix]["prefixlen"] == pfx_dict[prefix]["maxlength"] -%}
allow from any prefix {{ prefix }} source-as {{ origin }}
{% else -%}
allow from any prefix {{ prefix }} prefixlen {{ pfx_dict[prefix]["prefixlen"] }} - {{ pfx_dict[prefix]["maxlength"] }} source-as {{ origin }}
{% endif -%}
{% endfor -%}
{% endfor -%}
