roa-set {
{% for prefix in pfx_list -%}
{% for origin in pfx_dict[prefix]["origins"]|sort(reverse=True) -%}
{% if pfx_dict[prefix]["prefixlen"] == pfx_dict[prefix]["maxlength"] -%}
{{ "    " }}{{ prefix }} source-as {{ origin }}
{% else -%}
{{ "    " }}{{ prefix }} maxlen {{ pfx_dict[prefix]["maxlength"] }} source-as {{ origin }}
{% endif -%}
{% endfor -%}
{% endfor -%}
}
