roa-set {
{% for roa in roa_list -%}
{% if roa["prefixlen"] == roa["maxlen"] -%}
{{ "    " }}{{ roa['prefix'] }} source-as {{ roa['origin'] }}
{% else -%}
{{ "    " }}{{ roa['prefix'] }} maxlen {{ roa["maxlen"] }} source-as {{ roa['origin'] }}
{% endif -%}
{% endfor -%}
}
